﻿<%@ Page Language="C#" MasterPageFile="~/UI/AnalystMasterPage.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_AnalystHomeUI" Title="Home Page" Codebehind="AnalystHomeUI.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">
<div style="height:365px; padding-top:150px;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../Images/scb_logo.jpg" alt=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </center>
    </div>
</asp:Content>

