﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/ITAdminMasterPage.master" AutoEventWireup="true" CodeBehind="AuthorizationError.aspx.cs" Inherits="PlussAndLoan.UI.AuthorizationError" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <h1>You are not authorized to access this page.</h1>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <h1>You are not authorized to access this page.</h1>
</asp:Content>
