﻿<%@ Page Language="C#" MasterPageFile="~/UI/SupportMasterPage.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_BlankPage" Title="Home Page" Codebehind="BlankPage.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="Server">
    <div style="height:365px; padding-top:150px;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../Images/scb_logo.jpg" alt=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </center>
    </div>
</asp:Content>
