﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.js.UI_UserControls_js_BSVERValidation" Codebehind="BSVERValidation.ascx.cs" %>
<script>
    $(function () {
        for (var i = 2 ; i <= 5 ; i++) {
            $('#ctl00_ContentPlaceHolder_BSVARGridView_ctl0' + i + '_withdrawlTextBox,#ctl00_ContentPlaceHolder_BSVARGridView_ctl0' + i + '_dipositTextBox,#ctl00_ContentPlaceHolder_BSVARGridView_ctl0' + i + '_balanceTextBox').decimalNumber();
        }
    });
</script>