﻿<%@ Page Language="C#" MasterPageFile="~/UI/AdminMainUI.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_DedupInfoUploadUI" Title="Upload" Codebehind="DedupInfoUploadUI.aspx.cs" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" runat="Server">
<script>
     // var countInterval=0;
     // function DisplayInterval()
     // {
     //   countInterval=1;
     // }
     // DisplayInterval();
      
     // window.setInterval(function() {
     //   if(countInterval>0)
     //     {
     //     MyConfirmMethod();
     //     }
     //   }, 10);
        
    
     function MyConfirmMethod()
      {
            $.ajax({
            type: "POST",
            url: "../UI/DedupInfoUploadUI.aspx/UploadedDataStatus",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            cache: false,
            success: function (msg) {
            $('#myDiv').text(msg.d);
            }
            });
           
      }

     </script>
</asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server" >

<table width="100%" border="0" cellpadding="0" cellspacing="0" >
<tr style="font-weight:bold; font-size:16px" align="center"  >
<td><asp:Label ID="nameLabel" runat="server" Text="Disburse Info Upload"></asp:Label></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>
    <asp:FileUpload ID="FileUpload" runat="server" Width="350px" Height="24px" />
    <asp:Label ID="criteriaLable" runat="server" Text="Criteria :"></asp:Label> 
    <asp:DropDownList ID="criteriaDropDownList" runat="server" Width="80px" >
    <asp:ListItem>D</asp:ListItem>
    </asp:DropDownList>
    <asp:Button ID="UploadButton" runat="server" Text="Upload" Width="100px" 
        Height="24px" onclick="uploadButton_Click" />
    <div id="myDiv"></div>
    <asp:Label ID="messageLabel" runat="server" Text=""></asp:Label>

    <asp:HiddenField ID="HiddenFieldcount" runat="server" />
    </td>
</tr>
<tr>
<td>
<div id="recordViewDiv" runat="server" style="width:805px; height:470px; z-index: 5000; border: solid 1px gray;" ></div>
<div id="pagingDiv" runat="server"></div>

</td>
</tr>
<tr>
<td>
<%--<div id="pleaseWaidDiv" class="pleaseWaidDivwith" style="display: none; position: absolute;
                        border: solid 1px gray;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"
                            align="center">
                            <tr bgcolor="#B70000">
                                <td colspan="2">
                                    <asp:Label runat="server" ID="TotalRecordLabel" Text="Data upload" Font-Bold="true"
                                        Font-Size="14px" ForeColor="White"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="center">
                                    <img id="loadingImg" src="../Images/ajax-loader.gif" alt="" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="center">
                                    <asp:Label runat="server" ID="waitLabel" Text="Please wait data uploading..." Font-Names="Times New Roman"
                                        Font-Bold="false" Font-Size="13px"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td align="center">
                                    <input id="okButton" type="button" value="OK" onclick="PopUpWindowsClose();" />
                                </td>
                            </tr>
                        </table>
                    </div>--%>
                    
</td>
</tr>
</table>
<%--    <div onmouseup="return false" class="translucent" onmousemove="return false" onmousedown="return false"
        id="blockUI" ondblclick="return false" style="display: none; z-index: 50000;
        left: 0px; position: absolute; top: 0px; background-color: gray" onclick="return false">
    </div>--%>
    <script type="text/javascript">
    
    function onLoadPage()
    {
        init('dataTable');
    }	
	</script>
</asp:Content>





