﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.css.UI_UserControls_css_Defaultcss" CodeBehind="Defaultcss.ascx.cs" %>
<style type="text/css">
    img[valign="middle"] {
        vertical-align: middle;
    }

    .pseudo_pre_wrap {
        white-space: pre-wrap;
    }

    input[type="search"] {
        -moz-border-radius-bottomleft: 15px;
        -moz-border-radius-bottomright: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        -moz-box-sizing: padding-box;
        background: #FFFFFF url(/launch/resources/skin/input_search_bg.png) no-repeat scroll 3px 50%;
        padding-left: 18px;
        padding-right: 5px;
    }

    body, table, th, td, button, input, select, textarea, pre {
        font: normal normal 12px/1.3em Arial;
    }

    a {
        color: #1E4B81;
        font-weight: bold;
        text-decoration: none;
        -moz-outline: none;
    }

    html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    img, body, html {
        border: 0 none;
    }

    address, caption, cite, code, dfn, em, strong, th, var {
        font-style: normal;
        font-weight: normal;
    }

    ol, ul {
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
    }

    caption, th {
        text-align: left;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }

    q:before, q:after {
        content: '';
    }



    /*Home Page*/
    html {
        background-color: gray;
    }

    body {
        xbackground: #FFF333 none repeat scroll 0 0;
        /*width: 910px;
        margin: 0 auto;*/
        /*width: 95%;*/
        margin: auto;
        xposition: relative;
        color: #333;
        background-color: White;
    }

    #Frame {
        padding-top: 6px;
        xpadding-left: 75px;
        xpadding-right: 70px;
        height: 111px;
        xbackground: #eea;
    }

    #ContentWrap {
        height: 500px;
        width: 910px;
        background-color: #ccd76e;
        cposition: absolute;
        xleft: 50px;
        xtop: 150px;
        border-top: solid 20px #474f7e;
        _margin-top: -4px;
    }

    #Header {
        /*background-image: url(../Image/OrchedLogo.jpg) no-repeat left;*/
        height: 111px;
        width: 196px;
        background-image: url(../../../Image/OrchedLogo.jpg);
        background-repeat: no-repeat;
        xposition: absolute;
        float: left;
    }

    #Header2ndLogo {
        height: 111px;
        width: 196px;
        background-image: url(../../../Image/OrchidEnergyLogo.jpg);
        background-repeat: no-repeat;
        xposition: relative;
        float: right;
        margin-top: -78px;
        *margin-top: -73px;
    }

    #hdClient h2 {
        margin-top: 62px;
        margin-left: 375px;
        font-size: 16px;
        font-family: Arial;
        color: #b8404a;
        width: 120px;
    }

    #OuterLoginPanel {
        background: #FFF333;
        height: 500px;
        width: 910px;
        background-color: #ccd76e;
        xposition: absolute;
        xleft: 50px;
        xtop: 170px;
        border-top: solid 15px #e4ebb7;
    }

    #Content {
        background-color: #FFFFFF;
        min-height: 370px;
        height: auto;
        xleft: 20px;
        xpadding: 30px 30px 25px 20px;
        padding: 28px 1px 25px 20px;
        position: relative;
        xmargin: 20px 0 0 20px;
        xtop: 20px;
        xwidth: 821px;
        width: auto;
        overflow: auto;
    }

        #Content h3 {
            color: #b8404a;
            font-size: 14px;
            margin-bottom: 8px;
        }

    #InnerLoginPanel p {
        xpadding-top: 20px; /*Change 10_09_2009*/
        padding-top: 10px;
        font-weight: bold;
        font-size: 11px;
        xpadding-bottom: 40px; /*Change 10_09_2009*/
        padding-left: 28px; /*New Add 10_09_2009*/
        line-height: 15px;
    }

    .textbox {
        width: 200px;
        height: 16px;
    }

    .loginUser {
        width: 140px;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
    }

    .UserLoginList {
        padding-bottom: 12px;
    }

    #ForgetPassword h3 {
        margin-top: 25px;
        color: #abb0b4;
        font-size: 11px;
        width: 120px;
    }

    #loginImg {
        width: 67px;
        height: 27px;
        position: absolute;
        left: 330px;
        margin-top: -25px;
    }

    a {
        color: #abb0b4;
        text-decoration: none;
    }

    #footer h6 {
        position: absolute;
        font-size: 8px;
        top: -58px;
        left: 19px;
        color: #858f77;
    }

    #footer {
        font-size: 9px;
        font-weight: bold;
        xleft: 50px;
        line-height: 15px;
        position: relative;
        xtop: 676px;
        color: #838c95;
        width: 910px;
    }

    #manImage {
        xbackground-color: red;
        background-image: url(../../../Image/ManTalking.png);
        background-repeat: no-repeat;
        height: 140px;
        position: absolute;
        right: 0;
        top: -69px;
        width: 108px;
    }


    .login #Tabs {
        display: none;
    }

    .login #ContentWrap {
        border-color: #e4ebb7;
    }

    .Home #ContentWrap {
        border-color: #474F7E;
    }

    .OrchardInformation #ContentWrap {
        border-color: #0180c7;
    }

    .ClientSiteContracts #ContentWrap {
        border-color: #56a9b7;
    }

    .ClientContracts #ContentWrap {
        border-color: #5d928c;
    }

    .ClientContractDetails #ContentWrap {
        border-color: #5d928c;
    }

    .IndustryNews #ContentWrap {
        border-color: #6a727d;
    }

    .Admin #ContentWrap {
        border-color: #b0aba8;
    }

    .EnergyContractAll #ContentWrap {
        border-color: #cc3405;
    }
    /*.SecurityandTermsofUse #Tabs {
	display: none;
}*/
    .SecurityandTermsofUse #ContentWrap {
        border-color: #e4ebb7;
    }



    /*Tabs*/

    #Tabs {
        height: 21px;
        xleft: 50px;
        cposition: absolute;
        top: 130px;
        width: 910px;
    }

    #TabNews {
        height: 21px;
        margin-left: -1px;
        top: 130px;
        width: 910px;
    }

    #Tabs li {
        float: left;
        background-repeat: no-repeat;
        padding: 4px;
        position: relative;
        z-index: 2000;
    }

    #TabNews li {
        float: left;
        background-repeat: no-repeat;
        padding: 4px;
        position: relative;
        z-index: 2000;
    }

    #Tabs li ul {
        display: none;
        position: absolute;
        top: 21px;
        left: 0;
        width: 100%;
    }

    #TabNews li ul {
        display: none;
        position: absolute;
        top: 21px;
        left: 0;
        width: 100%;
    }

    #Tabs li.hover ul,
    #Tabs li:hover ul {
        display: block;
    }

    #TabNews li.hover ul,
    #TabNews li:hover ul {
        display: block;
    }

    #Tabs li ul li {
        float: none;
        border-top: solid 1px white;
        _width: 100%;
    }

    #TabNews li ul li {
        float: none;
        border-top: solid 1px white;
        width: 71px;
        _width: 100%;
    }

    #Tabs li a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #fff;
    }

    #TabNews li a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #fff;
    }

    #Tabs li.Home {
        background-image: url(../../../Image/HomeTab.jpg);
        background-position: -2px 0;
        width: 71px;
    }

    #Tabs li.Information {
        background-image: url(../../../Image/OrchardInformationTab.jpg);
        width: 105px;
    }

    #Tabs li.Sites {
        background-image: url(../../../Image/ClientSideTab.jpg);
        width: 118px;
    }

    #Tabs li.Contractors {
        background-image: url(../../../Image/ClientContractsTab.jpg);
        width: 91px;
    }

    #Tabs li.Industry {
        background-image: url(../../../Image/IndustryNewsTab.jpg);
        width: 73px;
    }

    #TabNews li.Industry {
        background-image: url(../../../Image/IndustryNewsTab.jpg);
        width: 73px;
    }

    #Tabs li.Admin {
        background-image: url(../../../Image/AdminTab.jpg);
        width: 72px;
    }

    #Tabs li.WasteCollection {
        background-image: url(../../../Image/WasteCollectionTab.jpg);
        width: 125px;
        margin-top: 1px;
    }

    #Tabs li.EnergyCollection {
        background-image: url(../../../Image/EnergyContractTab.jpg);
        width: 92px;
    }

    #TabNews li.Loginlist {
        background-image: url(../../../Image/LoginTab.jpg);
        width: 73px;
    }

    .bdWasteCollection {
        float: left;
        background-repeat: no-repeat;
        padding: 4px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: #fff;
        background-image: url(../../../Image/bdWasteCollectionTab.jpg);
        width: 125px;
        left: 370px;
        top: 45px;
        position: absolute;
    }

    #Tabs li.logout a {
        xcolor: #666;
        font-size: 11px;
        font-weight: bold;
        color: #cb3200;
    }

    #Tabs li.logout {
        float: right;
    }

    #OrchardEnergyTab {
        background-color: #800000;
        height: 35px;
        left: 130px;
        position: absolute;
        top: 94px;
        width: 200px;
    }

        #OrchardEnergyTab h2 {
            color: white;
            margin-left: 50px;
            margin-top: 3px;
            text-align: center;
            width: 100px;
        }

    #OrchardInvermentelTab {
        background-color: #c0dfff;
        border: 1px solid black;
        height: 35px;
        left: 380px;
        position: absolute;
        top: 94px;
        width: 200px;
    }

        #OrchardInvermentelTab h2 {
            margin-left: 30px;
            margin-top: 3px;
            text-align: center;
            width: 140px;
        }

    #InformationTabDropdown {
        margin-left: 81px;
        width: 109px;
        display: block;
        font-size: 10px;
        text-align: center;
    }

    #IndustryNewsTabDropdown {
        margin-left: 416px;
        width: 78px;
        display: block;
        font-size: 10px;
        text-align: center;
    }

    .engInformationTab {
        background-color: #0080c7;
        color: White;
        height: 30px;
    }

    .engnewsTab {
        background-color: #6c737d;
        color: White;
        height: 25px;
        padding-top: 7px;
    }

    .envirnewsTab {
        background-color: #6c737d;
        height: 30px;
    }

    .btn {
        background-color: #FFFFFF;
        border: 2px outset #5C87B2;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        height: 25px;
        margin: 12px 0;
        overflow: hidden;
        text-align: center;
    }

    /*pop up start*/
    .modal {
        background: #FDFDFD none repeat scroll 0 0;
        border: 2px outset #CCD76E;
        display: inline;
        height: 250px;
        xleft: 360px;
        overflow: auto;
        position: absolute;
        xtop: 160px;
        width: 440px;
        z-index: 999;
    }

    .uploadModel {
        height: 125px;
    }

    .modal h3 {
        background-color: #3DAE38;
        color: #ffffff;
        font-family: Arial;
        padding: 8px 10px;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .p1 {
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }

    #content1 {
        margin-top: 40px;
        width: 297px;
    }

    .Label1 {
        color: #333333;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        padding-left: 30px;
    }

    #txtUserName1 {
        border: 1px solid #7f9db9;
        margin-left: 27px;
        width: 125px;
        height: 17px;
    }

    #divBtn1 {
        float: right;
        margin-top: 10px;
    }

    .cusButton1 {
        background-color: #FFFFFF;
        border: 1px solid #7f9db9;
        color: #000000;
        font-family: Arial;
        font-size: 11px;
        margin-left: 5px;
        margin-right: 2px;
        width: 58px;
    }



    #hdPanel {
        color: blue;
        height: 20px;
        left: 0;
        position: absolute;
        top: 160px;
        left: 70px;
        width: 500px;
    }

        #hdPanel h2 a {
            color: Blue;
        }

    #tblFirst {
        position: absolute;
        padding-left: 25px;
        xpadding-top: 15px; /*Change 10_09_2009*/
    }

        #tblFirst th {
            font-weight: bold;
            xheight: 60px; /*Change 10_09_2009*/
            height: 40px;
            text-align: left;
        }

        #tblFirst td {
            padding: 2px;
            *padding: 4px;
            padding-right: 110px;
        }

    hr {
        width: 725px;
        position: absolute;
        left: 30px;
    }

    #secTblBody {
        padding-top: 12px;
    }

        #secTblBody td {
            padding-right: 137px;
        }

    #thrdTblBody {
        padding-top: 12px;
    }

        #thrdTblBody td {
            padding-right: 36px;
        }

            #thrdTblBody td a {
                color: Blue;
                font-weight: bold;
                font-size: 12px;
            }





    /***** pager ****/
    .pager {
        height: 16px;
        width: 130px;
        text-align: left;
        padding: 0 2px;
        position: absolute;
        right: 0px;
        top: 8px;
        xleft: 709px;
    }

        .pager * {
            color: #333;
            font-size: 11px;
        }

        .pager .pagerlabel {
            width: 30px !important;
            line-height: 16px;
            font-weight: normal;
        }

        .pager .txtPageNo {
            height: 16px;
            border: 1px solid #999;
            width: 30px;
            font-size: 12px;
            text-align: center;
            padding: 0;
        }

        .pager .spntotalPage {
            margin-right: 3px;
        }

        .pager a.prevPage, .pager a.nextPage, .pager a.go, .pager a#prevPage, .pager a#nextPage, .pager a#DocprevPage, .pager a#DocnextPage {
            display: inline-block;
            position: absolute;
            right: 16px;
            top: 0;
            height: 16px;
            width: 10px;
            margin: 0 1px;
            padding: 0;
            text-indent: -9999px;
            background: transparent url(../../../image/control-180.png) no-repeat 50% 50%;
            line-height: 16px;
        }


        .pager a.nextPage, .pager a#nextPage, .pager a#DocnextPage {
            background-image: url(../../../image/control.png);
            right: 0px;
        }

        #pager a.go, .pager a.go {
            background: url(../../../image/control-000-small.png) no-repeat -3px 0 !important;
            position: static;
            padding: 0;
            height: 16px !important;
            width: 10px !important;
            float: none;
        }

    .ContentWraphd {
        color: blue;
        font-size: 11px;
        margin-left: 20px;
        margin-bottom: -17px;
    }

    .actionButtons {
        padding: 20px;
        text-align: center;
    }

    /*** </pager **/


    .pagerFooter {
        left: 337px;
        *left: 352px;
        display: block;
        position: relative;
        left: 0px;
        float: right;
        margin-bottom: 10px;
    }

    .pagerTop_5per {
        top: 5%;
    }

    .pagerTop_6per {
        top: 6%;
    }

    .pagerTop_7per {
        top: 7%;
    }

    .pagerTop_8per {
        top: 8%;
    }

    .pagerTop_9per {
        top: 9%;
    }

    .pagerTop_10per {
        top: 10%;
    }

    .pagerTop_11per {
        top: 11%;
    }

    .pagerTop_12per {
        top: 12%;
    }







    /*Pager Right*/

    .pagerRight_1per {
        right: 1%;
    }

    .pagerRight_2per {
        right: 2%;
    }

    .pagerRight_3per {
        right: 3%;
    }

    .pagerRight_4per {
        right: 4%;
    }

    .pagerRight_5per {
        right: 5%;
    }

    .pagerRight_6per {
        right: 6%;
    }

    .pagerRight_7per {
        right: 7%;
    }

    .pagerRight_8per {
        right: 8%;
    }

    .pagerRight_9per {
        right: 9%;
    }

    .pagerRight_10per {
        right: 10%;
    }
</style>


<%-- Collapsible --%>
<style>
    .collapsible-btn {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .collapsible-active, .collapsible-btn:hover {
            background-color: #555;
        }

    .collapsible-content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

    .is-margin-5 {
        margin: 5px;
    }

    .is-margin-10 {
        margin: 5px;
    }

    .is-margin-20 {
        margin: 5px;
    }

</style>
