﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.js.UI_UserControls_js_dhtmlxgrid_skins_codebase" Codebehind="dhtmlxgrid_skins_codebase.ascx.cs" %>
<script>
    
</script>