﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/LocLoanAssetMaster.Master" AutoEventWireup="true" CodeBehind="LocAssetLoanReport.aspx.cs" Inherits="PlussAndLoan.UI.LocAssetLoanReport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
</asp:Content>
