﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/LoanLocatorOperationMaster.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_LocLoanSearch" Codebehind="LocLoanSearch.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">
</asp:Content>

