﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/LocLoanOperation.Master" AutoEventWireup="true" CodeBehind="LocOperationLoanReport.aspx.cs" Inherits="PlussAndLoan.UI.LocOperationLoanReport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
</asp:Content>
