﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.js.UI_UserControls_js_PLValidation" Codebehind="PLValidation.ascx.cs" %>

<script type="text/javascript">
    $(function () {
        $('#ctl00_ContentPlaceHolder_llidTextBox').numberOnly();
        //$('#ctl00_ContentPlaceHolder_appliedAmountTextBox,#ctl00_ContentPlaceHolder_declaredIncomeTextBox').numeric();monthlySalaryIncomeTextBox
        $('#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_limitTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_rateTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_q1TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_q2TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_q3TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl02_q4TextBox').decimalNumber();
        $('#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_limitTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_rateTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_q1TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_q2TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_q3TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl03_q4TextBox').decimalNumber();
        $('#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_limitTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_rateTextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_q1TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_q2TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_q3TextBox,#ctl00_ContentPlaceHolder_overDraftGridView_ctl04_q4TextBox').decimalNumber();

        $('#ctl00_ContentPlaceHolder_monthlySalaryIncomeTextBox,#ctl00_ContentPlaceHolder_otherIncomeTextBox,#ctl00_ContentPlaceHolder_netIncomeTextBox,#ctl00_ContentPlaceHolder_declaredIncomeTextBox,#ctl00_ContentPlaceHolder_scbCreditLimitTextBox,#ctl00_ContentPlaceHolder_plOutstandingTextBox,#ctl00_ContentPlaceHolder_flSecurityTextBox,#ctl00_ContentPlaceHolder_averageBalanceTextBox,#ctl00_ContentPlaceHolder_instabuyBalanceTextBox,#ctl00_ContentPlaceHolder_otherEMITextBox,#ctl00_ContentPlaceHolder_instabuyInstallmentTextBox,#ctl00_ContentPlaceHolder_bBPDDAllowedMaxLoanAmountTextBox,#ctl00_ContentPlaceHolder_dBRAllowableMaxLoanTextBox1,#ctl00_ContentPlaceHolder_avgBalanceSupportedMaxLoanAmountTextBox,#ctl00_ContentPlaceHolder_mEUAllowableMaxLoanAmountTextBox1,#ctl00_ContentPlaceHolder_appliedLoanAmountTextBox,#ctl00_ContentPlaceHolder_appropriatedLoanAmountTextBox,#ctl00_ContentPlaceHolder_proposedLoanAmountTextBox,#ctl00_ContentPlaceHolder_emiTextBox,#ctl00_ContentPlaceHolder_dbrTextBox,#ctl00_ContentPlaceHolder_mueTextBox,#ctl00_ContentPlaceHolder_profitMarginTextBox,#ctl00_ContentPlaceHolder_emiWithSCBTextBox').decimalNumber();
        //$('#ctl00_ContentPlaceHolder_officeAddressTextBox,#ctl00_ContentPlaceHolder_residentialAddressTextBox').maxLength(200);           
    });
</script>