﻿<%@ Page Language="C#" MasterPageFile="~/UI/ITAdminMasterPage.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_SecurityMatrixReport" Title="Security Matrix" Codebehind="SecurityMatrixReport.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">

     <div class="form-style-2 container-fluid">
        <div class="form-style-2-heading">Security Matrix Report</div>

          <br/>
   &nbsp;&nbsp;&nbsp;&nbsp; 
<asp:Button runat="server" ID="btnSecurityMatrix"  CssClass="btn primarybtn"
    Text="Security Matrix Report" onclick="btnSecurityMatrix_Click" OnClientClick="aspnetForm.target ='_blank';"/>
   <br/><br/>
    &nbsp;&nbsp;&nbsp;&nbsp; 
<%--   <asp:Button runat="server" ID="btnSecurityMatrix_Auto" 
    Text="Security Matrix - Auto Module" onclick="btnSecurityMatrix_Auto_Click" />--%>
 <%--   &nbsp;&nbsp;&nbsp;&nbsp; 
     <a href="../Reports/ReportViewer.aspx" target="_blank" style="text-decoration: none"><input type="button" value="Show Security Matrix Report"/></a>
   <br/><br/>--%>
         </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
     <br />
    <br />
    <br />
    <br />
</asp:Content>

