﻿<%@ Page Language="C#" MasterPageFile="~/UI/ITAdminMasterPage.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_SystemGeneratedUserReport"
    Title="User List Report" CodeBehind="SystemGeneratedUserReport.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="Server">
    <div class="form-style-2 container-fluid">
        <div class="form-style-2-heading">User List Report</div>

        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button runat="server" ID="showUserReport" CssClass="btn primarybtn"
            Text="User List Reoprt" OnClick="showUserReport_Click" OnClientClick="aspnetForm.target ='_blank';" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</asp:Content>
