﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_UpdateLoginUserStatus" Codebehind="UpdateLoginUserStatus.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Logout</title>
    <script type="text/javascript">         
		function closeWindo() 
		{
            window.close();
		}
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table border="0" cellpadding="1" cellspacing="1">
    <tr>
    <td>
        <asp:Label ID="Label" runat="server" Text="Logout user ......"></asp:Label>
    </td>
    </tr>
    <tr>
    <td align="center">
        <input id="buttonOk" type="button" value="Ok" onclick="closeWindo();" />
    </td>
    </tr>
    </table>
    </div>
    </form>
</body>
</html>
