﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="LocLoanAssetMaster.master.cs" Inherits="PlussAndLoan.UI.LocLoanAssetMaster" %>

<%@ Register Src="~/UI/UserControls/css/spreadsheet.ascx" TagPrefix="uc1" TagName="spreadsheet" %>
<%@ Register Src="~/UI/UserControls/css/mydatepickercss.ascx" TagPrefix="uc1" TagName="mydatepickercss" %>
<%@ Register Src="~/UI/UserControls/js/jqueryLib1_3_0.ascx" TagPrefix="uc1" TagName="jqueryLib1_3_0" %>
<%@ Register Src="~/UI/UserControls/js/datepicker.ascx" TagPrefix="uc1" TagName="datepicker" %>
<%@ Register Src="~/UI/UserControls/js/TextBoxDatePicker.ascx" TagPrefix="uc1" TagName="TextBoxDatePicker" %>
<%@ Register Src="~/UI/UserControls/js/numeric.ascx" TagPrefix="uc1" TagName="numeric" %>
<%@ Register Src="~/UI/UserControls/js/Validation.ascx" TagPrefix="uc1" TagName="Validation" %>
<%@ Register Src="~/UI/UserControls/css/dhtmlxgridcss.ascx" TagPrefix="uc1" TagName="dhtmlxgridcss" %>
<%@ Register Src="~/UI/UserControls/css/dhtmlxgrid_skinscss.ascx" TagPrefix="uc1" TagName="dhtmlxgrid_skinscss" %>
<%@ Register Src="~/UI/UserControls/js/dhtmlxcommon.ascx" TagPrefix="uc1" TagName="dhtmlxcommon" %>
<%@ Register Src="~/UI/UserControls/js/dhtmlxgrid.ascx" TagPrefix="uc1" TagName="dhtmlxgrid" %>
<%@ Register Src="~/UI/UserControls/js/dhtmlxgrid_srnd.ascx" TagPrefix="uc1" TagName="dhtmlxgrid_srnd" %>
<%@ Register Src="~/UI/UserControls/js/dhtmlxgridcell.ascx" TagPrefix="uc1" TagName="dhtmlxgridcell" %>
<%@ Register Src="~/UI/UserControls/js/Ajax.ascx" TagPrefix="uc1" TagName="Ajax" %>
<%@ Register Src="~/UI/UserControls/js/ajax-select-list.ascx" TagPrefix="uc1" TagName="ajaxselectlist" %>
<%@ Register Src="~/UI/UserControls/js/CustomerUIValidation.ascx" TagPrefix="uc1" TagName="CustomerUIValidation" %>
<%@ Register Src="~/UI/UserControls/js/BILMUECalculation.ascx" TagPrefix="uc1" TagName="BILMUECalculation" %>
<%@ Register Src="~/UI/UserControls/js/PLValidation.ascx" TagPrefix="uc1" TagName="PLValidation" %>
<%@ Register Src="~/UI/UserControls/js/ajax-dynamic-content.ascx" TagPrefix="uc1" TagName="ajaxdynamiccontent" %>
<%@ Register Src="~/UI/UserControls/js/ajax-tooltip.ascx" TagPrefix="uc1" TagName="ajaxtooltip" %>
<%@ Register TagPrefix="uc1" TagName="Defaultcss" Src="~/UI/UserControls/css/Defaultcss.ascx" %>
<%@ Register Src="~/UI/UserControls/css/TableLayoutForTabControlCss.ascx" TagPrefix="uc1" TagName="TableLayoutForTabControlCss" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>::: LOAN LOCATOR :::</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <style type="text/css">
        .TRStyle {
            background-image: url(../images/pageFrameWork_Top.gif);
        }
    </style>
    <style type="text/css">
        .ctl00_MenuSpace_2 a, .ChildMenu, #<%= MenuSpace.ClientID %> {
            color: white;
            font-size: 15px !important;
            font-weight: 600;
        }
        .ParentMenu, .ParentMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
            /*margin-right: 5px;*/
            padding: 5px;
        }

            .ParentMenu:hover {
                background-color: #2b7b27;
            }

        .ChildMenu, .ChildMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

            .ChildMenu:hover {
                background-color: #2b7b27;
            }

        .selected, .selected:hover {
            background-color: #2b7b27 !important;
            color: #fff;
        }

        .level2 {
            background-color: #3dae38;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>
    <uc1:Defaultcss runat="server" ID="Defaultcss" />
    <uc1:spreadsheet runat="server" ID="spreadsheet" />
    <uc1:mydatepickercss runat="server" ID="mydatepickercss" />
    <uc1:jqueryLib1_3_0 runat="server" ID="jqueryLib1_3_0" />
    <uc1:datepicker runat="server" ID="datepicker" />
    <uc1:TextBoxDatePicker runat="server" ID="TextBoxDatePicker" />

    <uc1:numeric runat="server" ID="numeric" />
    <uc1:Validation runat="server" ID="Validation" />

    <uc1:dhtmlxgridcss runat="server" ID="dhtmlxgridcss" />
    <uc1:dhtmlxgrid_skinscss runat="server" ID="dhtmlxgrid_skinscss" />

    <uc1:dhtmlxcommon runat="server" ID="dhtmlxcommon" />
    <uc1:dhtmlxgrid runat="server" ID="dhtmlxgrid" />
    <uc1:dhtmlxgrid_srnd runat="server" ID="dhtmlxgrid_srnd" />
    <uc1:dhtmlxgridcell runat="server" ID="dhtmlxgridcell" />
    <uc1:Ajax runat="server" ID="Ajax" />
    <uc1:ajaxselectlist runat="server" ID="ajaxselectlist" />
    <uc1:CustomerUIValidation runat="server" ID="CustomerUIValidation" />
    <uc1:BILMUECalculation runat="server" ID="BILMUECalculation" />
    <uc1:PLValidation runat="server" ID="PLValidation" />
    <uc1:ajaxdynamiccontent runat="server" ID="ajaxdynamiccontent" />
    <uc1:ajaxtooltip runat="server" ID="ajaxtooltip" />
    <uc1:TableLayoutForTabControlCss runat="server" ID="TableLayoutForTabControlCss" />


</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server">
            </asp:ScriptManager>
        </div>
        <table style="margin-top: 5px; vertical-align: top; border-collapse: collapse;" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="TRStyle">
                <td colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 50px;">
                    <span style="float: right; padding-right: 50px; height: 15px; margin-top: -5px;">
                        <label id="login" style="color: #FFFFFF; font-size: 12px;">
                            <b>Login as:</b></label>
                        <asp:Label ID="userNameLabel" runat="server" Style="color: #FFFFFF; text-align: left; font-size: 12px;"
                            Font-Bold="true"></asp:Label>&nbsp;<b style="color: #FFFFFF">|</b>&nbsp;
                    <asp:LinkButton ID="logout" runat="server" Text="Logout" Style="color: #FFFFFF; font-weight: bold; font-size: 12px; text-align: left; text-decoration: none;"
                        CausesValidation="False"
                        OnClick="logout_Click" Font-Bold="true"></asp:LinkButton>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 15%; background-color: #3DAE38; vertical-align: top; height: 100%">
                    <div>
                        <%--<fieldset>
                            <asp:Menu ID="ITAdminMenu" runat="server" BackColor="#3DAE38" DynamicHorizontalOffset="2"
                                StaticSubMenuIndent="10px" Font-Names="Thoma" Font-Size="14px" Font-Bold="True"
                                ForeColor="#F2F6F6" Width="10%" Height="100%" OnMenuItemClick="MainMenu_MenuItemClick">
                                <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="1px" />
                                <DynamicHoverStyle BackColor="#F2F6F6" ForeColor="#4BB000" />
                                <DynamicMenuStyle BackColor="#3DAE38" ForeColor="#4BB000" />
                                <StaticSelectedStyle BackColor="#F2F6F6" ForeColor="#008004" />
                                <DynamicItemTemplate>
                                    <%# Eval("Text") %>
                                </DynamicItemTemplate>
                                <DynamicSelectedStyle BackColor="#F2F6F6" ForeColor="#76A734" />
                                <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="1px" />
                                <StaticHoverStyle BackColor="#F2F6F6" ForeColor="#4BB000" />
                                <Items>
                                    <asp:MenuItem NavigateUrl="~/UI/LocAssetHome.aspx" Text="Home" Value="Applications"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="~/UI/LocAssetTatReport.aspx" Text="TAT Report" Value="TAT Report"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="~/UI/LocAssetExpImp.aspx" Text="Exp/Imp" Value="Exp/Imp"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="~/UI/AssetReports.aspx" Text="Reports" Value="Reports"></asp:MenuItem>
                                </Items>
                            </asp:Menu>
                        </fieldset>--%>
                        <asp:Menu ID="MenuSpace" runat="server" Orientation="Horizontal">
                            <LevelMenuItemStyles>
                                <asp:MenuItemStyle CssClass="ParentMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                            </LevelMenuItemStyles>
                            <StaticSelectedStyle CssClass="selected" />
                        </asp:Menu>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                     <div style="width: 150px; background-color: #3DAE38; vertical-align: top; height: 100%; display: inline; float: left;">
                        <b>Search by LLID</b>
                        <asp:TextBox runat="server" ID="txtFindLoan" Height="25" OnTextChanged="FindLoanByLlId" ToolTip="Input LLID and hit Enter"></asp:TextBox>
                        <br/>
                        <input type="button" value="Go To PLUSS" style="height: 25px;cursor: pointer" runat="server" OnServerClick="GoToPluss"/>
                    </div>
                    <div style="display: inline; float:left;">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </td>
                
            </tr>
            <tr class="TRStyle footer">
                <td colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 20px;">
                    <span style="float: left; color: #FFFFFF;"><b>Copyright © 2009 : Standard Chartered
                    Bank</b></span> <span style="float: right; color: #FFFFFF;"><b>Developed by:</b><a
                        target="_blank" href="http://www.batworld.com" style="font-size: 12px; color: #FFFFFF; text-decoration: none;">Business Automation Ltd.</a></span>
                </td>
                <%--    
             <td colspan="2" bgcolor="#009ACD" valign="top" align="center" style="height: 22px;">
                <span style="float: right; padding-right: 50px; height: 15px;">
                    <asp:Label ID="Label2" runat="server" Style="color: #FFFFFF; text-align: left;
                        font-size: 12px;" Font-Bold="true"><b>Copyright © 2009 : Standard Chartered
                    Bank</b></asp:Label>
                  <span style="float: right; color: #FFFFFF;"><b>Developed by:</b><a
                        target="_blank" href="http://www.batworld.com" style="font-size: 12px; color: #FFFFFF;
                        text-decoration: none;">Business Automation Ltd.</a></span>
                  
                </span>
                    </td>
                --%>
                <asp:HiddenField ID="userIdHiddenField" runat="server" />

            </tr>
        </table>
    </form>
</body>
</html>
