﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/LoanLocatorAdmin.Master" AutoEventWireup="true" CodeBehind="LocLoanAdminHome.aspx.cs" Inherits="PlussAndLoan.UI.LocLoanAdminHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
</asp:Content>
