﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_MasterPage" Codebehind="MasterPage.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
   <style type="text/css">
        .ctl00_MenuSpace_2 a, .ChildMenu, #<%= MenuSpace.ClientID %> {
            color: white;
            font-size: 15px !important;
            font-weight: 600;
        }
        .ParentMenu, .ParentMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
            /*margin-right: 5px;*/
            padding: 5px;
        }

            .ParentMenu:hover {
                background-color: #2b7b27;
            }

        .ChildMenu, .ChildMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

            .ChildMenu:hover {
                background-color: #2b7b27;
            }

        .selected, .selected:hover {
            background-color: #2b7b27 !important;
            color: #fff;
        }

        .level2 {
            background-color: #3dae38;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style> 

</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server">
            </asp:ScriptManager>
        </div>
        <table style="width: 100%; height: 100%; vertical-align: top;" cellspacing="0">
            <div class="menu">
                       <asp:Menu ID="MenuSpace" runat="server" Orientation="Horizontal">
                            <LevelMenuItemStyles>
                                <asp:MenuItemStyle CssClass="ParentMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                            </LevelMenuItemStyles>
                            <StaticSelectedStyle CssClass="selected" />
                        </asp:Menu>
                        <div align="center" style="margin-top: 1px;">
                            <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="UpdatePanel1">
                                <ProgressTemplate>
                                    <asp:Image ID="Image1" runat="server" BackColor="#FFFFFF" ImageUrl="~/Images/1.gif" /><br />
                                    <a style="color: #FFFFFF; font: icon;">Please Wait...</a>
                                </ProgressTemplate>
                            </asp:UpdateProgress>
                        </div>
                    </div>
                </td>
                <td style="width: 80%; height: 100%; vertical-align: top;">
                    <div class="content">
                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                            <ContentTemplate>
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                                </asp:ContentPlaceHolder>
                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" bordercolor="#207788" bordercolorlight="#027612" bgcolor="#C6E8FA">
                    <div class="footer">
                        <span style="float: left;"><a>Copyright © 2009</a></span> <span style="float: right;">Developed by:<a target="_blank" href="http://www.batworld.com">Business Automation Ltd.</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
