﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/PageAccessDenialMaster.Master" AutoEventWireup="true" CodeBehind="PageAccessDenied.aspx.cs" Inherits="PlussAndLoan.UI.PageAccessDenied" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

</asp:Content>
