﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PageAccessDenialMaster.master.cs" Inherits="PlussAndLoan.UI.PageAccessDenialMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .TRStyle {
            background-image: url(../images/pageFrameWork_Top.gif);
        }
    </style>
    <style type="text/css">
        .ctl00_MenuSpace_2 a, .ChildMenu, #<%= MenuSpace.ClientID %> {
            color: white;
            font-size: 15px !important;
            font-weight: 600;
        }
        .ParentMenu, .ParentMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
            /*margin-right: 5px;*/
            padding: 5px;
        }

            .ParentMenu:hover {
                background-color: #2b7b27;
            }

        .ChildMenu, .ChildMenu:hover {
            width: 150px;
            background-color: #3dae38;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

            .ChildMenu:hover {
                background-color: #2b7b27;
            }

        .selected, .selected:hover {
            background-color: #2b7b27 !important;
            color: #fff;
        }

        .level2 {
            background-color: #3dae38;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }

        h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 100px;
            color: red;
        }
    </style>
</head>
<body>
   <body id="mainBody" style="margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; border-collapse: collapse;">
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server">
            </asp:ScriptManager>
        </div>
        <table style="vertical-align: top; border-collapse: collapse;" width="100%" border="0"
            cellspacing="0" cellpadding="0">
            <tr class="TRStyle">
                <td colspan="2" bgcolor="" valign="top" align="center" style="height: 35px;">
                    <span style="float: right; padding-right: 50px; height: 15px;">
                        <label id="login" style="color: #FFFFFF; font-size: 12px;">
                            <b>Login as:</b></label>
                        <asp:Label ID="userNameLabel" runat="server" Style="color: #FFFFFF; text-align: left; font-size: 12px;"
                            Font-Bold="true"></asp:Label>&nbsp;<b style="color: #FFFFFF">|</b>&nbsp;
                    <asp:LinkButton ID="logout" runat="server" Text="Logout" Style="color: #FFFFFF; font-weight: bold; font-size: 12px; text-align: left; text-decoration: none;"
                        CausesValidation="False"
                        OnClick="logout_Click" Font-Bold="true"></asp:LinkButton>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: #3DAE38; vertical-align: top; height: 100%">
                    <div class="pure-menu pure-menu-horizontal">
                        <asp:Menu ID="MenuSpace" runat="server" Orientation="Horizontal">
                            <LevelMenuItemStyles>
                                <asp:MenuItemStyle CssClass="ParentMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                                <asp:MenuItemStyle CssClass="ChildMenu" />
                            </LevelMenuItemStyles>
                            <StaticSelectedStyle CssClass="selected" />
                        </asp:Menu>
                    </div>
                </td>
                <td style="height: 100%; vertical-align: top;">
                    <div>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </td>
            </tr>
           
        </table>

        <h1>You are not authorized to view this page!</h1>


         <div class="TRStyle footer">
                <p colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 20px;">
                    <span style="float: left; color: #FFFFFF;"><b>Copyright © 2009 : Standard Chartered
                    Bank</b></span> <span style="float: right; color: #FFFFFF;"><b>Developed by:</b><a
                        target="_blank" href="http://www.batworld.com" style="font-size: 12px; color: #FFFFFF; text-decoration: none;">Business Automation Ltd.</a></span>
                </p>
          </div>
    <asp:HiddenField ID="userIdHiddenField" runat="server" />

    </form>

</body>
</html>
