﻿<%@ Page Language="C#" MasterPageFile="~/UI/ITAdminMasterPage.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_SecurityMatrixReport" Title="Security Matrix" CodeBehind="SecurityMatrixReport.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="Server">

    <div class="form-style-2 container-fluid">
        <div class="form-style-2-heading">Security Matrix Report</div>

        <br />
        <table width="30%" border="0" cellspacing="10" cellpadding="1">
            <tr>
                <td>
                    <asp:Button runat="server" ID="btnSecurityMatrix" CssClass="btn primarybtn"
                        Text="Security Matrix Report (PDF)" OnClick="btnSecurityMatrix_Click" OnClientClick="aspnetForm.target ='_blank';" />
                </td>
                <td><asp:Button runat="server" ID="btnSecurityMatrixCSV" CssClass="btn primarybtn"
                        Text="Security Matrix(CSV)" OnClick="btnSecurityMatrixCSV_Click" />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</asp:Content>

