﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UI_test" Codebehind="test.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
       <link href="../CSS/Default.css" rel="stylesheet" type="text/css" />

 <link href="../CSS/admin.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/calendar-blue.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/tabs.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/AutoLoanCommon.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/TableLayoutForTabControls.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/AutoLoan/LoanApplication.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
