﻿ body
 {
 
 }
         .style24
        {
            /*width: 122px;*/
            width: 20%;
        }
        .style25
        {
             /*width: 122px;*/
             width: 40%;
        }
        .style27
        {
            width: 206px;
        }
        .style28
        {
            width: 173px;
        }
        .style29
        {
            width: 96px;
        }
        .style30
        {
        }
        .style31
        {
            width: 57px;
        }
        .style32
        {
            width: 97px;
        }
        .style33
        {
            width: 300px;
        }
        .style34
        {
            width: 90px;
            height: 16px;
        }
        .style35
        {
            height: 16px;
        }
        .style37
        {
            height: 16px;
            width: 74px;
        }
        .style39
        {
            height: 16px;
            width: 83px;
        }
        .style40
        {
            width: 84px;
            height: 16px;
        }
        .style41
        {
            height: 16px;
            width: 81px;
        }
        .style43
        {
            width: 100px;
            height: 16px;
        }
        .style45
        {
            width: 103px;
            height: 16px;
        }
        .style46
        {
            height: 16px;
            width: 92px;
        }
        .style47
        {
            width: 109px;
        }
        .style48
        {
            width: 107px;
        }
        .style49
        {
            width: 175px;
        }
 
        .style1
        {
            width: 167px;
            text-align: left;
        }
        .style8
        {
            width: 144px;
            text-align: left;
        }
        .style9
        {
            width: 130px;
            font-weight: bold;
            font-size: 14px;
        }
        .style10
        {
            width: 139px;
        }
        .style11
        {
            width: 105px;
            font-weight: bold;
            font-size: 14px;
        }
        .style12
        {
            font-size: 18px;
            font-weight: bold;
        }
        .style14
        {
            float: left;
            font-weight: normal;
            margin-left: 5px;
            background-color: #FFFFFF;
	width: 231px;
}
        .style16
        {
            float: left;
            font-weight: normal;
            margin-left: 5px;
            background-color: #FFFFFF;
	width: 240px;
}
        .style15
        {
            font-size: 12px;
        }
        .style17
        {
            width: 214px;
            text-align: right;
        }
        
        .style18
        {
            width: 117px;
        }
        .style19
        {
            width: 260px;
        }
        
        
        .style20
        {
        }
        .style21
        {
            width: 86px;
        }
        .style22
        {
            width: 71px;
        }
        .style23
        {
            width: 51px;
        }
        
        
        
table.reference {
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
    border-collapse: collapse;
    width: 100%;
}

table.referenceWhite {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    width: 100%;
}

table.reference th {
    background-color: #E5EECC;
    border: 1px solid #C3C3C3;
    padding: 3px;
    vertical-align: top;
}
table.reference td {
    border: 1px solid #C3C3C3;
    padding: 3px;
    vertical-align: top;
    font-size:12px;
} 
