﻿body {
}

.pageHeaderDiv
{ border :solid 2px #000000; background-color :#95B3D7; text-align :center; height:auto; font-size :large ;}
.centerHeader{ text-align: center;padding: 10px;}
.txtsearchupload{ width: 200px;}
.fieldDiv 
{
	margin-bottom:5px;

	}
.lbl{ display:inline-block; width:100px;*width:100px;_width:100px;}

.lblSmall{ display:inline-block; width:82px;}
.lblBig{ display:inline-block; width:119px;*width:110px;_width:123px;}
.lblTextArea{ vertical-align:top;}
.txtField 
	{
		border: 1px solid #5D5454;
		font-size: 11px;
		height: 16px;
		padding: 2px 0 0 1px;
		width:202px;
	}
	.txtFieldBig
	{
	    border: 1px solid #5D5454;
		font-size: 11px;
		height: 16px;
		padding: 2px 0 0 1px;
		width:255px;
		*width:265px;
		_width:258px;
	}
	
	.txtFieldSmall {
	    border: 1px solid #5D5454;
		font-size: 11px;
		height: 16px;
		padding: 2px 0 0 1px;
		width:128px;
	}
.btnDiv{ text-align:center; }
.comboWidth{ width:205px;}
.comboWidthsmall{ width: 132px;}
.comboWidthBig {
    border: 1px solid #5D5454;
     width:258px;*width:268px;_width:261px;
}


.input[type="checkbox"]{ margin:0px;}
.floatLeft{ float:left;}
.menuwidthforie6{_width:120px;}
.floatRight{ float:right;}
.clear{ clear:both;}
.lblBlank{display:inline-block;width:146px; *width:137px;}
.starColor{ color:Red;}
.divPaddingLeftRight{ padding:0px 10px 0px 10px;}
.divPadding{ padding:10px;}
.formBackColor{background-color:#95B3D7;}
.panel {
   display: block;
}
.btnRight 
{
    float: right;
    margin-right: 15px;
    text-align: center;
}

.tab{ display:inline-block; background-color:#009015; color:#F2F6F6; borderx:solid 1px #2AFF00; height:30px; text-align:center; font-size:12px; text-align:  }
.tab:hover{ background-color:#F2F6F6; color:#009015;border:solid 1px #2AFF00;}
.tabBacground{ background-color:#009ACD; height:30px;}
#divbankstatemntDetails
{
	float:left;
	width:320px;
	*width:330px;
	_width:322px;
	height:100%;
	*height:100%;
	_height:100%;
	margin-left:4px;
	margin-top:15px;
}
	
	
	
	
#divBankStatementSummery
{
	float:right;
	width:540px;
	*width:550px;
	_width:543px;
	height:100%;
	*height:100%;
	_height:100%;
	margin-top:15px;
	margin-right:4px;
}
	
	#divbankstatemntDetails2
{
	float:left;
	width:320px;
	*width:330px;
	_width:322px;
	height:100%;
	*height:100%;
	_height:100%;
	margin-left:4px;
	margin-top:15px;
}

	#divBankStatementSummery2
{
	
	float:right;
	width:540px;
	*width:550px;
	_width:543px;
	height:100%;
	*height:100%;
	_height:100%;
	margin-top:15px;
	margin-right:4px;
	}
	
	
	.divHeaderTitel {
	    height: 25px;
	    _height: 25px;
	    *height: 25px; 
	    width: 100%;
	    *width: 100%;
	    _width: 100%; 
	    border:solid 1px black; 
	    background-color:#017AA7; 
	    font-size:20px; 
	    text-align: center; 
	    vertical-align: middle; 
	    margin-bottom: 5px;
	}



/*Insurence Calculation Settings--------------------------------------------------------------------------------------*/
.ownDamage {
    border: 1px solid black;
}
.OtherCharges {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.divLeft {
    float: left;
    width: 580px;
}
#Content .ownDamage h3{ text-decoration: underline;color: #333;}
#Content .OtherCharges h3{ text-decoration: underline;color: #333;}
.lblOtherCharges {
    width: 250px;
}
.gridTextboxforOwnDamage
{
    width: 160px;
}

/*---------------------------Start of All Alignment Segment--------------------------------------------------*/
.leftAlign{ text-align: left;}
.rightAlign{ text-align: right;}
.centerAlign{ text-align: center;}


.theadTdTextAlignCenter th {
    text-align: center;
}
/*---------------------------End of All Alignment Segment--------------------------------------------------*/

.divQueryTrackerContainer {
    width: 100%;*width: 100%;_width: 100%;
    text-align: center;
    vert-align: middle;
    padding: 10px;
}



#navbar {
    border-color: #333333;
    display: block;
    xfloat: left;
    font-family: Arial;
    font-size: 12px;
    line-height: 10.8pt;
    position: relative;
    xwidth: 120px;
   /*background-color: #3DAE38;
    color: #F2F6F6;
    font-family: Thoma;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 130px;*/
}
#nav {
    border-color: #333333;
    color: #333333;
    display: block;
    font-family: Arial;
    font-size: 12px;
    line-height: 10.8pt;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 0 0 0 3px;
    text-decoration: none;
}
#nav li {
    border-color: #333333;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 3px;
    text-decoration: none;
}

#nav a {
    background-color: #3DAE38;
    border-color: #333333;
     color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    list-style-type: none;
    /*padding: 5px 5px 5px 10px;*/
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}
#nav a:hover {
    background-color: #FFFFFF;/* #7CB3DA;*/
   
    color: #3DAE38;
}
nav a.active {
    background-color: black;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    list-style-type: none;
    padding: 5px 5px 5px 10px;
}
.HeaderBG {
    background-image: url("../images/pageFrameWork_Top.gif");
}

.btnUpload {
   margin-left: 20px;
    vertical-align: 1px;
}

