﻿.mainDivOfTabContent
{
	/*border:solid 1px black;*/
	
}

.mainDivOfTabContent table
{
	width:100%;
	vertical-align:text-top;
	
}


.mainDivOfTabContent table div div
{
	border:solid 1px black;
	padding:5px;
}
.contentRowOfTable td
{
	/*padding:3px;
	border:solid 1px black;*/
}
.contentRowOfTable input
{
	width:98%;
	
}
.contentRowOfTable select
{
	width:100%;
	
}
.contentRowOfTable textarea
{
	width:98%;
}


.tableLabel td
{
	text-align:right;
	font-size:small;
	padding:2px;
}


#primaryBankAccTable 
{
	/*border:solid 1px black;*/
	width:98%;
	
}

.primaryBankAccTable 
{
	/*border:solid 1px black;*/
	width:98%;
	
}
#primaryBankAccTable td
{
	
	width:20%;
	text-align:center;
	
}

#primaryBankAccTable td select
{
	width:100%;
}
#primaryBankAccTable td input
{
	width:97%;
}


#theader
{   text-align:center;
	background-color: #17365D;
	color: #FFFFFF; 
	font-weight: bold;
}

#tableUtility td
{
	border :solid 1px black;
	width:50%;
}

#tableUtilityJoin td
{
	border :solid 1px black;
	width:50%;
}

.mainDivBankStatemntLeft
{
	border:solid 1px black;
    width: 350px;
    *width:350px;
    _width: 350px;
}
.mainDivBankStatemntRight
{
	border:solid 1px black;
	width:300px
}
.textBixSize
{
	width:95px;
}

.textBixSize2
{
	width:110px;
}

.theader
{   text-align:center;
	background-color: #17365D;
	color: #FFFFFF; 
	font-weight: bold;
}

.salaried
{

}
.salariedShow
{

}

.business
{

}

.selfEmp
{

}

.landlord
{

}

#jointBankAccTable 
{
	/*border:solid 1px black;*/
	width:98%;
	
}

.jointBankAccTable 
{
	/*border:solid 1px black;*/
	width:98%;
	
}
#jointBankAccTable td
{
	
	width:20%;
	text-align:center;
	
}

#jointBankAccTable td select
{
	width:100%;
}
#jointBankAccTable td input
{
	width:97%;
}
