﻿body
{
	/*background-image:url(../Images/fade_bg.gif);*/
}
table
{
	width:100%;
}
td
{
}
.paddingLeftTop
{
	padding:50px 0px 0px 0px;
}
.paddingLeft
{
	padding-left:0px;
}
.linkText
{
	 text-decoration:none;
	 font-size:11px;
	 color:Navy;
	 
}
.passwordPaddingLeft
{
	padding-left:40px;
}
#closeLinkButton
{
	padding-left:80px;
}
.copyRight
{
	font-family:Verdana;
	font-size:10px;
}
.copyRightLink
{
	text-decoration:none;
}