body {
	margin-top: 0px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 0px;
	background-image:url(../images/fade_bg.gif);	
}
#navigation, #advertising, #other { 
  display : none;
} 


.y_dot {color: #FAA61A;
		font-size: 25px;
}
.tabletitle	{
	color:#006699;
}
.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	line-height: 14pt;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.TextBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	height: 18px;
	width: 180px;
	border: 1px solid #666666;
}
.TextBoxM {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #666666;
}
.table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 7px;
	line-height: 14pt;
	background-color:#e8e8e8;
	border-style:none;		
}

.detailstable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	border-style:none;
}
.left {	
	width: 180px;
	background-color:#CEDBDA; 
	border-style:none;
	padding-top: 28px;		
}

.table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 7px;
	line-height: 14pt;
	background-color:#e8e8e8;
	border-style:none;
		
}

.toplinks:hover {
	color: #ffffff;
	text-decoration: underline;
	font-size: 9pt;
}
.rightlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	color: #3E5B82;
	text-decoration: none;
}


.rightlinks:hover {
	text-decoration: underline;
	color: #999999;
	font-size: 8pt;
}

.footerlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: underline;
}
.footerlinks:hover {
	color: #000000;
	text-decoration: none;
	font-size: 8pt;
}

.submit {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	color: #000000;
	background-color:#DDD9B9;
	font-weight:bold;	
	width:81pt;
	border: 1px solid #000000;
}
.go {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:22px;
	color:  #000000;
	background-color:#DDD9B9;
	font-weight:bold;	
	width:100pt;
	border: 1px #000000;
}
.go1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:22px;
	color:  #000000;
	background-color:#DDD9B9;
	font-weight:bold;	
	width:160pt;
	border: 1px #000000;
}

.selectbox{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#E5E5E5;
	font-weight:bold;	
	width:200pt;
	border: 1px solid #000000;
}

.selectboxdate{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#F5F5F5;
	font-weight:bold;	
	width:100pt;
	border: 1px solid #000000;
}

.topnav 
{ 
color:#666666; 
font-size: 11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}
.topnav:link { color:#666666;}
.topnav:visited { color:#666666;}
.topnav:hover { color:#333333;}
.topnav:active { color:#666666;}

.rightnav {color: #3E5B82}
.rightnav: a {color: #3E5B82}
.rightnav:visited {color: #3E5B82}
.rightnav:hover {color: #990000}
.rightnav:active {color: #3E5B82}
.ydot {color: #FAA61A}


.bottomnav 
{ 
font-size: 11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
border: 1pt;
text-decoration:none;
}
.bottomnav:link { color:#660066;}
.bottomnav:visited { color:#660066;}
.bottomnav:hover { 
	color:#006666; 
	width: 180pt;
	background-color:#D9ECEC;
	margin: 1pt;
}
.bottomnav:active { color:#666699;}
-->

.style1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
}
