﻿        #popupWinDiv
        {
            width: 500px;
        }
        .pleaseWaidDivwith
        {
            width: 300px;
        }
        .translucent
        {
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            opacity: 0.5;
        }