﻿.divHeader
{
	width:100%;
	height: 50px;
    margin-bottom: 15px;
    text-align:center;
	vertical-align:top;
    padding-top:20px;
    font-family:Verdana;
	font-size:large;
	font-weight:bold;
	font:Areal;
	
}
.divHeaderLoan
{
    margin-bottom: 15px;
    text-align:center;
	vertical-align:top;
    padding-top:20px;
    font-family:Verdana;
	font-size:large;
	font-weight:bold;
	font:Areal;
	
}
.divLeftSubHead
{
	border: solid 1px black;
	width:250px;
	*width:250px;
	_width:250px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	padding:5px;
	text-align:right;
	margin-bottom:5px;
	
	 text-align:center;
	vertical-align:middle;


 font-family:Verdana;
	font-size:large;
	font-weight:bold;
}

.divMiddileSubHead
{
	border: solid 1px green;
	width:200px;
	*width:200px;
	_width:200px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	margin-left: 5px;
	padding:5px;
	margin-bottom:5px;
	
	 text-align:center;
	vertical-align:middle;


 font-family:Verdana;
	font-size:large;
	font-weight:bold;
}

.divRightSubHead
{
	border: solid 1px blue;
	width:200px;
	*width:200px;
	_width:200px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	margin-left: 5px;
	padding:5px;
	margin-bottom:5px;
	
	 text-align:center;
	vertical-align:middle;


 font-family:Verdana;
	font-size:large;
	font-weight:bold;
}





.divLeft
{
	border: solid 1px black;
	width:250px;
	*width:250px;
	_width:250px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	padding:5px;
	text-align:right;
	margin-bottom:5px;
}

.divMiddile
{
	border: solid 1px green;
	width:200px;
	*width:200px;
	_width:200px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	margin-left: 5px;
	padding:5px;
	margin-bottom:5px;
}

.divRight
{
	border: solid 1px blue;
	width:200px;
	*width:200px;
	_width:200px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	margin-left: 5px;
	padding:5px;
	margin-bottom:5px;
}


.txtBoxField {
    border: 1px solid #5D5454;
    font-size: 11px;
    padding: 2px 0 0 1px;
    width: 100px;
    *width: 100px;
    _width: 100px;
    height: 16px;
    *height: 16px;
    _height: 16px;
}
.divLbl {

	/*background-color: red;*/
    display: inline-block;
    height: 15px;
    *height: 15px;
    _height: 15px;
    margin-bottom: 5px;
    padding: 5px 0 5px 5px;
    vertical-align: middle;
    width: 100%;
    *width: 100%; 
    _width: 100%;
   
}
.lblSize
{

	/*background-color: green;*/
    margin-top: 1px;
    position: relative;
    vertical-align: middle;
    width: 500px;
    *width: 500px;
     _width: 500px;
}
.txtBoxSize
{
    border: 1px solid #5D5454;
	width:98%;
	*width:98%;
	_width:98%;
	height:20px;
}
.comboSize 
{
    border: 1px solid #5D5454;
	/*width:100%;*/
	height: 25px;
	*height: 30px;
	_height: 30px;
    width: 100%;
    *width: 100%;
    _width: 100%;
}
.comboSizeActive
{
	background-color:#c2d69a;
	}

.txtAreaSize
{
    border: 1px solid #5D5454;
	width:98%;
	*width:98%;
	_width:98%;
	height:54px;
	*height:54px;
	_height:54px;
	
	
}

.txtAreaNewQuerySize
{
    border: 1px solid #5D5454;
	height:140px;
	*height:140px;
	_height:140px;
    margin: 0 5px 5px 6px;
}
.txtAreaHight_55px
{
    border: 1px solid #5D5454;
	height:55px;
	*height:55px;
	_height:55px;
    margin: 0 5px 5px 6px;
}
.fieldDivContaint
{
    height: 25px;
    *height: 25px;
    _height: 25px;
    margin-bottom: 5px;
/*    background-color :Red;*/
}
.divLeftBig {
    border: 1px solid black;
    float: left;
    height: auto;
    margin-left: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    width: 380px;
    *width: 390px;
    border-radius: 15px;
}
.divLeftBig label{
     width: 110px;
    *width: 110px;
    _width: 110px;
}
.divLeftBig select
{
    border: 1px solid #5D5454;
 /*    width: 258px;
    *width: 258px;
    _width: 258px;*/
    height: 24px;
    _height: 24px;
    *height: 24px;
}
.divLeftBig input 
{
    border: 1px solid #5D5454;
    height: 22px;
    _height: 22px;
    *height: 22px;
}

.divLeftNormalClass {
    border: 1px solid black;
    float: left;
    height: auto;
    margin-left: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    width: 380px;
    border-radius: 15px;
}

.divRightBig {
    border: 1px solid green;
    float: right;
    height: auto;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left ;
    width: 380px;
    *width: 390px;
    border-radius: 15px;
    
}
.divRightBig label {
    width: 110px;
    *width: 110px;
    _width: 110px;
}
.divRightBig select 
{
    border: 1px solid #5D5454;
   /*   width: 258px;
    *width: 258px;
    _width: 258px;*/
    height: 22px;
    _height: 22px;
    *height: 22px;
}
.divRightBig input 
{
    border: 1px solid #5D5454;
    height: 22px;
    _height: 22px;
    *height: 22px;
}


.divRightBigNormalClass {
    border: 1px solid green;
    float: right;
    height: auto;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left ;
    width: 380px;
    border-radius: 15px;
    
}

.divHeadLine {
    border: solid 2px #005D9A;
    margin: 0px 10px 0; 
    vertical-align: middle;
    text-align: center; 
    height: 18px;
    _height: 18px;
    *height: 18px; 
    padding-top: 4px;
    background-color: #005D9A;
    width: 400px;
    *width: 400px;
    _width: 400px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    
    
}
.divHeadLine span {
    margin-top: 0; font-size: 15px; font-weight: bold;
    color: white;
}

.divHeadLineWhiteBg {
    border: solid 1px gray;
    margin: 0; 
    vertical-align: middle;
    text-align: center; 
    height: 18px;
    _height: 18px;
    *height: 18px; 
    padding-top: 4px;
    background-color: white;
    width: 100%;
    *width: 100%;
    _width: 100%;
    margin-bottom: 2px;
    *padding-bottom:10px;
    
}
.divHeadLine span {
    margin-top: 0; font-size: 15px; font-weight: bold;
    color: #ffffff;
    
}

.groupContainer 
{
    border: 2px solid #005D9A;
    margin: 0 10px 0;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 400px;
    *width: 400px;
    _width: 400px;
      -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}    

.tableStyle {
    width:100%;
}


.tableStyle td
{
	
	width:20%;
	text-align:center;
	
}

.tableStyle td select
{
    border: 1px solid #5D5454;
	width:100%;
	_width:100%;
	*width:100%;
    height: 24px;
    *height: 24px;
    _height: 24px;
}
.tableStyle td input
{
    border: 1px solid #5D5454;
	width:99%;_width:99%;*width:99%;
	
}



.tableStyleSmall {
     width:100%;
}
.tableStyleSmall td
{
	
	width:10%;
	text-align:center;
	
}

.tableStyleSmall td select
{
    border: 1px solid #5D5454;
	width:100%;
}
.tableStyleSmall td input
{
    border: 1px solid #5D5454;
	width:97%;
}

.tableStyleTiny {
     width:100%;
}
/*.tableStyleTiny td
{
	text-align:center;	
}*/


.theader
{   text-align:center;
	background-color: #17365D;
	color: #FFFFFF; 
	font-weight: bold;
}
.comboSizeH_24 {
    height: 24px;
    _height: 24px;
    *height: 24px;
    width: 100%;
    *width: 100%;
    _width: 100%;
    border: 1px solid #5D5454;
}
.comboSizeH_22 {
    height: 22px;
    _height: 22px;
    *height: 22px;
    width: 100%;
    *width: 100%;
    _width: 100%;
    border: 1px solid #5D5454;
}
.txtBoxSize_H22 {
    height: 22px;
    _height: 22px;
    *height: 22px;
    width: 100%;
    *width: 100%;
    _width: 100%;
    border: 1px solid #5D5454;
}

.div3in1 {
    width:100%; display: inline-block;
}
.spnLeftLabel1 {
    float: left;
    padding-left: 0px;
    padding-top: 3px;
    text-align: left;
}
.spnLeftLabel30_per {
    float: left;
    padding-left: 0px;
    padding-top: 4px;
    text-align: left;
    width: 30%;
    
}
.spnLeftLabel50_per {
    float: left;
    padding-left: 0px;
    padding-top: 3px;
    text-align: left;
    width: 50%;
}

.spnLeftLabel100_per {
    float: left;
    padding-left: 0px;
    padding-top: 3px;
    text-align: left;
    width: 30%;
}

.divNewFieldContainer 
{
    border: 1px solid blue;
    display: block;
    height: auto;
    margin-bottom: 5px;
    
}

.divColumn1 {
    border: 1px solid black;
    position: relative;
    float: left;
    height: auto;
    
     height: auto;
    *height: auto;
    _height: auto;
    width:25%; 
    *width:25%;
    _width:25%; 
    margin-bottom:5px;
}
.divColumn2 {
    border: 1px solid black;
    position: relative;
    float: right;
    height: auto;
    *height: auto;
    _height: auto;
    width:70%; 
    *width:70%;
    _width:70%;   
}
.divColumn2-1 {
border: solid 1px black;
    width:60%;*width:60%;_width:60%;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	text-align:right;
	padding:0px; 
}
.divColumn2-2 {
border: solid 1px green;
    width:36%;_width:36%;*_width:36%; 
    padding:0px;
	float:left;
	height:auto;
	*height:auto;
	_height:auto;
	margin-left: 5px;
}
.divMiddileWidth33 {
    width:32%;_width:32%;*_width:32%; 
    border:none;
}


.divSizeWidth30_per {
    width: 30%;
    *width: 30%;
    _width: 30%;
    padding:0px; border:none;
}
.divSizeWidth16_per {
    width: 16%;
    *width: 16%;
    _width: 16%;
    padding:0px; border:none;
    
}
.divSizeWidth18_per 
{
    width: 18%;
    *width: 18%;
    _width: 18%;
    width: 18%;
    border: none;
    padding: 0px;
    
}
.divSizeWidth36_per {
    width: 36%;
    *width: 36%;
    _width: 36%;
    padding:0px; border:none;
}
.divSizeWidth50_per {
    width: 50%;
    *width: 50%;
    _width: 48%;
    padding:0px; border:none;
}
.divSizeWidth60_per {
    width: 60%;
    *width: 60%;
    _width: 60%;
    padding:0px; border:none;
}
.divSizeWidth70_per {
    width: 69%;
    *width: 69%;
    _width: 69%;
    padding:0px; border:none;
    
}
.divSizeWidth30_per {
    width: 30%;
    *width: 30%;
    _width: 30%;
    padding:0px; border:none;
}
.divSizeWidth28_per {
    width: 28%;
    *width: 28%;
    _width: 28%;
    padding:0px; border:none;
}
.comboSizeWidth101_per {
    width: 101%;
    *width: 101%;
    _width: 101%;
    
}
/*---------------------------All Size Segment Start--------------------------------------------------*/
.widthSize1_per {
     width: 1%;*width: 1%; _width: 1%;
}
.widthSize5_per {
     width: 5%;*width: 5%; _width: 5%;
}
.widthSize7_per {
     width: 7%;*width: 7%; _width: 7%;
}
.widthSize10_per {
     width: 10%;*width: 10%; _width: 10%;
}
.widthSize11_per {
     width: 11%;*width: 11%; _width: 11%;
}
.widthSize12_per {
     width: 12%;*width: 12%; _width: 12%;
}

.widthSize14_per {
     width: 14%;*width: 14%;_width: 14%;
}
.widthSize15_per {
     width: 15%;*width: 15%;_width: 15%;
}
.widthSize18_per {
     width: 18%;*width: 18%;_width: 18%;
}
.widthSize19_per {
     width: 19%;*width: 19%;_width: 19%;
}
.widthSize20_per {
     width: 20%;*width: 20%;_width: 20%;
}
.widthSize22_per {
     width: 22%;*width: 22%;_width: 22%;
}

.widthSize23_per {
     width: 23%;*width: 23%;_width: 23%;
}
.widthSize24_per {
     width: 24%;*width: 24%;_width: 24%;
}
.widthSize25_per {
     width: 25%;*width: 25%;_width: 25%;
}
.widthSize30_per {
     width: 30%;*width: 30%;_width: 30%;
}
.widthSize32_per {
     width: 32%;*width: 32%;_width: 32%;
}
.widthSize33_per {
     width: 33%;*width: 33%;_width: 33%;
}
.widthSize34_per {
     width: 34%;*width: 34%;_width: 34%;
}
.widthSize35_per {
     width: 35%;*width: 35%;_width: 35%;
}
.widthSize38_per {
     width: 38%;*width: 38%;_width: 38%;
}
.widthSize40_per {
     width: 40%;*width: 40%;_width: 40%;
}
.widthSize41_per {
     width: 41%;*width: 41%;_width: 41%;
}
.widthSize45_per {
     width: 45%;*width: 45%;_width: 45%;
}
.widthSize47_per {
     width: 47%;*width: 47%;_width: 47%;
}
.widthSize48_per {
     width: 48%;*width: 48%;_width: 48%;
}
.widthSize50_per {
     width: 50%;*width: 50%;_width: 50%;
}
.widthSize51_per {
     width: 51%;*width: 51%;_width: 51%;
}
.widthSize55_per {
     width: 55%;*width: 55%;_width: 55%;
     }
.widthSize56_per {
     width: 56%;*width: 56%;_width: 56%;
     }
.widthSize60_per {
     width: 60%;*width: 60%;_width: 60%;
}
.widthSize61_per {
     width: 61%;*width: 61%;_width: 61%;
}
.widthSize64_per {
     width: 64%;*width: 64%;_width: 64%;
}
.widthSize65_per {
     width: 65%;*width: 65%;_width: 65%;
}
.widthSize66_per {
     width: 66%;*width: 66%;_width: 66%;
}
.widthSize69_per {
     width: 69%;*width: 69%;_width: 69%;
}
.widthSize70_per {
     width: 70%;*width: 70%;_width: 70%;
     }
     .widthSize73_per {
     width: 73%;*width: 73%;_width: 73%;
     }
.widthSize75_per {
     width: 75%;*width: 75%;_width: 75%;}
.widthSize80_per {
     width: 80%;*width: 80%;_width: 80%;
}
.widthSize81_per {
     width: 81%;*width: 81%;_width: 81%;
}
.widthSize85_per {
     width: 85%;*width: 85%;_width: 85%;}
.widthSize90_per {
     width: 90%;*width: 90%;_width: 90%;
}
.widthSize95_per {
     width: 95%;*width: 95%;_width: 95%;
}
.widthSize96_per {
     width: 96%;*width: 96%;_width: 96%;
}
.widthSize97_per {
     width: 97%;*width: 97%;_width: 97%;
}
.widthSize97p9_per {
     width: 97.9%;*width: 97.9%;_width: 97.9%;
}
.widthSize98_per {
     width: 98%;*width: 98%;_width: 98%;
}
.widthSize99_per {
     width: 99%;*width: 99%;_width: 99%;
}
.widthSize100_per {
     width: 100%;*width: 100%;_width: 100%;
}


.widthSize8_27IN{
     width: 8.27in;*width: 8.27in;_width: 8.27in;
}

.A4Page{
     width: 6.7in;*width: 6.7in;
_width: 6.7in;
     height: 10.09in;*height: 10.09in;_height: 10.09in;
}
.clear{ clear:both;}
/*---------------------------End of All Size Segment--------------------------------------------------*/

/*---------------------------Start of All Alignment Segment--------------------------------------------------*/
.leftAlign{ text-align: left;}
.rightAlign{ text-align: right;}
.centerAlign{ text-align: center;}
/*---------------------------End of All Alignment Segment--------------------------------------------------*/
.margineRight_0px {
    margin-right: 0px;
}
.margineRight_5per {
    margin-right: 5%;
}

.margineLeft_1per {
    margin-left: 1%;
}
.margineLeft_2per {
    margin-left: 2%;
}
.margineLeft_3per {
    margin-left: 3%;
}.margineLeft_4per {
    margin-left: 4%;
}

.margineLeft_5per {
    margin-left: 5%;
}
.margineLeft_81px {
    margin-left: 81px;
}
.paddingAllSide10_per {
    padding: 10%;
}
#divColleterization
{
    padding:10px;
    width:98%;
    }
.lblColleterizationWith
{
    padding:10px; 
    }
.btnApp
{
	background-color:Blue;
	color:White;
	font-weight:bold;
	padding:3px;
	}