﻿div.content {
    border: #48f solid 1px;
    clear: left;
    padding: .5em;
}

div.content.inactive {
	display: none;
}

ol .toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.toc a {
    background: #bdf url(tabs.gif);
    color: #008;
    display: block;
    float: left;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;
}

ol.toc a:hover {
    background-color: #3af;
    background-position: 0 -120px;
}

ol.toc a:hover span {
    background-position: 100% -120px;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol.toc li a.active {
    background-color: #48f;
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
}

ol.toc li a.active span {
    background-position: 100% -60px;
}

ol.toc span {
    background: url(tabs.gif) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}