﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.css.UI_UserControls_css_dhtmlxgrid_skinscss" Codebehind="dhtmlxgrid_skinscss.ascx.cs" %>
<style type="text/css">
    
</style>