﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.css.UI_UserControls_css_PopupWindows" Codebehind="PopupWindows.ascx.cs" %>
<style type="text/css">
    #popupWinDiv
    {
        width: 500px;
    }
    .pleaseWaidDivwith
    {
        width: 300px;
    }
    .translucent
    {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
</style>
