﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/AutoLoan/AutoAnalystApprover.master" AutoEventWireup="true" Inherits="PlussAndLoan.UI.AutoLoan.UI_AutoLoan_AutoAnalystApproverHome" Codebehind="AutoAnalystApproverHome.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" Runat="Server">
<div>
            <div style="height: 365px; padding-top: 130px;">
                <center>
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" src="../../Images/scb_logo.jpg">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
        </div>
</asp:Content>

