﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.AutoLoan.UI_AutoLoan" Codebehind="AutoLoan.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin Page</title>
    <link href="../../CSS/Default.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/admin.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/calendar-blue.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/AutoLoanCommon.css" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/JSLibs/prototype.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/effects.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/util.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/Pager.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/scriptaculous.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/calendar.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/calendar-en.js" type="text/javascript"></script>

    <script src="../../Scripts/JSLibs/calendar-setup.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../../CSS/TableLayoutForTabControls.css" />
    <%--    <link href="../dhtmlxTabbar/codebase/dhtmlxtabbar.css" rel="stylesheet" type="text/css" />
    <script src="../dhtmlxTabbar/codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../dhtmlxTabbar/codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../dhtmlxTabbar/codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>--%>

    <link href="../../CSS/LoanApplicationTabContent.css" rel="stylesheet" type="text/css" />
    
     <style type="text/css">
        .TRStyle
        {
            background-image: url(../../images/pageFrameWork_Top.gif);
        }
    </style>  
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="mainBody" style="border-collapse: collapse;" xonunload="HandleClose();">
    <form id="form1" runat="server">
    <table style="vertical-align: top; border-collapse: collapse;" width="100%" border="0"
        cellspacing="0" cellpadding="0">
        <tr class="TRStyle">
            <td colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 25px;">
                <span style="float: right; padding-right: 50px; height: 15px; margin-top: -5px;">
                    <label id="login" style="color: #FFFFFF; font-size: 12px;">
                        <b>Login as:</b></label>
                    <asp:Label ID="userNameLabel" runat="server" Style="color: #FFFFFF; text-align: left;
                        font-size: 12px;" Font-Bold="true"></asp:Label>&nbsp;<b style="color: #FFFFFF">|</b>&nbsp;
                    <asp:LinkButton ID="logout" runat="server" Text="Logout" Style="color: #FFFFFF; font-weight: bold;
                        font-size: 12px; text-align: left; text-decoration: none;" CausesValidation="False"
                        OnClick="logout_Click" Font-Bold="true"></asp:LinkButton>
                </span>
            </td>
        </tr>
        <tr>
            <td style="width: 15%; background-color: #3DAE38; vertical-align: top; height: 100%; border: 1px solid #FFFFFF;">
                <div style="border: 1px solid #015093; border-right: none;">
                    <div id="navbar">
                        <ul id="nav">
                            <li id="nav_IRSettingsForPayroll"><a title="IR Settings for Payroll" href="../../UI/AutoLoan/IRSettingsForPayroll.aspx">
                                Payroll Settings</a></li>
                            <li id="nav_VehicleAndPriceSettings"><a class="active" title="Vehicle & Price Settings"
                                href="../../UI/AutoLoan/VehicleAndPriceSettings.aspx">Vehicle Settings</a></li>
                            <li id="nav_VendorMOUSettings"><a title="Vendor MOU Settings" href="../../UI/AutoLoan/VendorMOUSettings.aspx">
                                Vendor Settings</a></li>
                            <li id="nav_VendorNegativeListing"><a title="Vendor Negative Listing" href="../../UI/AutoLoan/VendorNegativeListing.aspx">
                                Negative Listing</a></li>
                            <li id="nav_IRSettingsForVehicleStatus"><a title="IR Settings for Vehicle Status"
                                href="../../UI/AutoLoan/IRSettingsForVehicleStatus.aspx">IR Settings</a></li>
                                
                            <li id="nav_IRSettingsForSCBStatus"><a href="../../UI/AutoLoan/IRSettingsForSCBStatus.aspx" title="IR Settings for SCB">
                                IR Settings for SCB</a></li>
                            <li id="nav_InsuranceAndBANCASettings"><a href="../../UI/AutoLoan/InsuranceAndBANCASettings.aspx"
                                title="Insurance & BANCA Settings">BANCA Settings</a></li>
                            <li id="nav_DeviationSettings"><a href="../../UI/AutoLoan/DeviationSettings.aspx" title="Deviation Settings">
                                Deviation Settings</a></li>
                            <li id="nav_SegmentSettings"><a href="../../UI/AutoLoan/SegmentSettings.aspx" title="Segment Settings">
                                Segment Settings</a></li>
                            <li id="nav_TenorAndLTVSettings"><a href="../../UI/AutoLoan/TenorAndLTVSettings.aspx" title="Tenor And LTV Settings">
                                Tenor Settings</a></li>
                            <li id="nav_InsuranceCalculationSettings"><a href="../../UI/AutoLoan/InsuranceCalculationSettings.aspx"
                                title="Insurance Calculation Settings" style="height:40px;">General insurance Settings</a></li>
                            <li id="nav_BranchNameWithSource"><a href="../../UI/AutoLoan/BranchNameWithSource.aspx" title="">Source
                                Settings</a></li>
                            <%--<li id="nav_QueryTracker"><a href="../../UI/AutoLoan/QueryTracker.aspx?CallFrom=2" title="">Query
                                Tracker</a></li>--%>
                                <li id="nav_Home"><a href="../UserSwitchHome.aspx" title="">Home</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td style="width: 85%; height: 100%; vertical-align: top;">
                <div>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </td>
        </tr>
        <tr class="TRStyle">
            <td colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 20px;">
                <span style="float: left; color: #FFFFFF;"><b>Copyright © 2009 : Standard Chartered
                    Bank</b></span> <span style="float: right; color: #FFFFFF;"><b>Developed by:</b><a
                        target="_blank" href="http://www.batworld.com" style="font-size: 12px; color: #FFFFFF;
                        text-decoration: none;">Business Automation Ltd.</a></span><asp:HiddenField ID="userIdHiddenField"
                            runat="server" />
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
