﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.AutoLoan.AutoApprover" Codebehind="AutoApprover.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin Page</title>
    <link href="../../CSS/Default.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/admin.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/calendar-blue.css" rel="stylesheet" type="text/css" />
    
    <link href="../../CSS/AutoLoanCommon.css" rel="stylesheet" type="text/css" />
    
    <script src="../../Scripts/JSLibs/prototype.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/effects.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/util.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/Pager.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/scriptaculous.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/calendar.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/calendar-en.js" type="text/javascript"></script>
    <script src="../../Scripts/JSLibs/calendar-setup.js" type="text/javascript"></script>
    
    
    <link rel="stylesheet" type="text/css" href="../../CSS/TableLayoutForTabControls.css" />
    

<%--    <link href="../dhtmlxTabbar/codebase/dhtmlxtabbar.css" rel="stylesheet" type="text/css" />
    <script src="../dhtmlxTabbar/codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../dhtmlxTabbar/codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../dhtmlxTabbar/codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>--%>
     <style type="text/css">
        .TRStyle
        {
            background-image: url(../../images/pageFrameWork_Top.gif);
        }
    </style> 
    
    
    <link href="../../CSS/LoanApplicationTabContent.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="mainBody" style="border-collapse:collapse;" xonunload="HandleClose();">
    <form id="form1" runat="server">
    <table style="vertical-align: top; border-collapse:collapse;" width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr class="TRStyle">
            <td colspan="2" style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 25px;">
                <span style="float: right; padding-right: 50px; height: 15px; margin-top: -5px;">
                    <label id="login" style="color: #FFFFFF; font-size: 12px;">
                        <b>Login as:</b></label>
                    <asp:Label ID="userNameLabel" runat="server" Style="color: #FFFFFF; text-align: left;
                        font-size: 12px;" Font-Bold="true"></asp:Label>&nbsp;<b style="color: #FFFFFF">|</b>&nbsp;
                    <asp:LinkButton ID="logout" runat="server" Text="Logout" Style="color: #FFFFFF; font-weight: bold;
                        font-size: 12px; text-align: left; text-decoration: none;" CausesValidation="False"
                        OnClick="logout_Click" Font-Bold="true"></asp:LinkButton>
                </span>
            </td>
        </tr>
        
        <tr>
            <td style="background-color:#3DAE38; vertical-align: top;height:100%; border: solid 1px #FFFFFF" >
                <div>
                  
                    
                    <div id="navbar">
                        <ul id="nav">
                            <li id="nav_Auto_ApproverSummary" class="floatLeft" style="_width:120px;"><a href="../../UI/AutoLoan/Auto_ApproverSummary.aspx" title="Auto Approver Summary">Approver Summary</a></li>
                            <%--<li class="floatLeft"><img alt="" src="../../Images/grad_black_ic.gif" /></li>--%>
                            <li id="nav_QueryTracker" class="floatLeft" style="_width:95px;"><a href="../../UI/AutoLoan/QueryTracker.aspx" title="">Query Tracker</a></li>
                            <%--<li class="floatLeft"><img alt="" src="../../Images/grad_black_ic.gif" /></li>--%>
                            <li id="nav_Home" class="floatLeft" style="_width:110px;"><a href="../UserSwitchHome.aspx" title="Home">Home</a></li>
                            </ul>
                    </div>
                    
                </div>
            </td>
        </tr>
        <tr>
            
            <td style="height: 100%; vertical-align: top;">
                <div>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </td>
        </tr>
        <tr class="TRStyle">
            <td colspan="2"  style="font-family: Arial; font-size: 13px; color: #FFFFFF; height: 20px;">
                <span style="float: left; color: #FFFFFF;"><b>Copyright © 2009 : Standard Chartered Bank</b></span>
                <span style="float: right; color: #FFFFFF;"><b>Developed by:</b><a target="_blank"
                    href="http://www.batworld.com" style="font-size: 12px; color: #FFFFFF; text-decoration: none;">Business
                    Automation Ltd.</a></span><asp:HiddenField ID="userIdHiddenField" runat="server" />
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
