﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.js.UI_UserControls_js_CustomerUIValidation" Codebehind="CustomerUIValidation.ascx.cs" %>

<script type="text/javascript">

    $(function () {
        for (var i = 2 ; i <= 6 ; i++) {
            $('#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskOutstandingTextBox,#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskOrginalLimitTextBox,#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskRepmtTextBox,#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskCashsecurityTextBox').decimalNumber();
            //                $('#ctl00_ContentPlaceHolder_customerGridView_ctl0'+ i +'_taskDisDateTextBox,#ctl00_ContentPlaceHolder_customerGridView_ctl0'+ i +'_taskExpDateTextBox').datepicker({
            //                changeMonth:this,changeYear:true,dateFormat:'dd-mm-yy' });   
            $('#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskDisDateTextBox,#ctl00_ContentPlaceHolder_customerGridView_ctl0' + i + '_taskExpDateTextBox').numberOnly();
        }
        $('#ctl00_ContentPlaceHolder_llIdTextBox').numberOnly();

        for (var i = 1 ; i <= 3 ; i++) {
            $('#ctl00_ContentPlaceHolder_topupAmount' + i + 'TextBox').decimalNumber();
            //                $('#ctl00_ContentPlaceHolder_topUpDate'+i+'TextBox').datepicker({showOn:'button',buttonImageOnly:false,
            //                changeMonth:this,changeYear:true,dateFormat:'dd-mm-yy' });
            $('#ctl00_ContentPlaceHolder_topUpDate' + i + 'TextBox').numberOnly();
        }


        $('#ctl00_ContentPlaceHolder_outStandingTextBox').decimalNumber();
    });


    function AutoFormatDate(control) {
        var obj1 = document.getElementById(control).value;

        if (obj1.length == 2) {
            document.getElementById(control).value = obj1 + '-';
            return;

        }
        else if (obj1.length == 5) {
            document.getElementById(control).value = obj1 + '-';
            return;
        }
    }

    function DateFormate(control) {
        var obj1 = document.getElementById(control).value;
        var temp1;
        var temp2;
        var temp3;
        var result;
        if (obj1.length == 10 || obj1.length == 0) {
            var value10 = obj1.replace('-', '');

            temp1 = value10.substr(0, 2);
            temp2 = value10.substr(2, 2);
            temp3 = value10.substr(5, 4);
            //                if(parseInt(temp1) > 31)
            //                {
            //                     alert('Please,enter valid day');
            //                     document.getElementById(control).focus();         
            //                }
            if (parseInt(temp1) > 31 && !isleap(temp3) && parseInt(temp2) != 2) {
                alert('Please,enter valid day');
                document.getElementById(control).focus();
            }
            else if (parseInt(temp1) > 28 && !isleap(temp3) && parseInt(temp2) == 2) {
                alert('Please,enter valid day.');
                document.getElementById(control).focus();
            }
            else if (parseInt(temp1) > 29 && isleap(temp3) && parseInt(temp2) == 2) {
                alert('Please,enter valid day.');
                document.getElementById(control).focus();
            }
            if (parseInt(temp3) < 1900 || parseInt(temp3) > 2099) {
                alert('Please,enter year between (1900 to 2099)');
                document.getElementById(control).focus();
            }
            if (parseInt(temp2) > 12) {
                alert('Please,enter valid month');
                document.getElementById(control).focus();
            }
        }
        else {
            alert('Please,enter correct date format');
            document.getElementById(control).focus();
        }
    }

    function isleap(val) {
        var yr = val;
        if ((parseInt(yr) % 4) == 0) {
            if (parseInt(yr) % 100 == 0) {
                if (parseInt(yr) % 400 != 0) {
                    return false;
                }
                if (parseInt(yr) % 400 == 0) {
                    return true;
                }
            }
            if (parseInt(yr) % 100 != 0) {
                return true;
            }
        }
        if ((parseInt(yr) % 4) != 0) {
            return false;
        }
    }

</script>