﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="PlussAndLoan.UI.UserControls.js.UI_UserControls_js_WebUserControl" Codebehind="WebUserControl.ascx.cs" %>
<script type="text/javascript">
    
</script>